// Variables & Mixens:
$marcellus: 'Marcellus SC', serif;
$signika: 'Signika', sans-serif;
$navy: #3A606E;

// Sass Code:

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #EEEAE2;
  font-family: $signika
}

h1, h2 {
  font-family: $marcellus
}

h1 {
  text-align: center;
  margin: 20px 0;
}

button {
  width: 121px;
  height: 42px;
  font-size: 17px;
  background-color: transparent;
  border: 3px solid #979797;
  display: block;
  margin: 40px auto 40px auto;
}

#map {
  width: 100%;
}

.other-locations {
  display: block;
  margin: 0 auto 20px auto;
}



#hamburger-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: $navy;
  .hamburger {
     margin-bottom: 6px;
     border-top: 2px solid #979797;
     width: 36px;
  }
}
#drop-down-container {
  width: 100%;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  display: none;
  ul {
    list-style: none;
    align-items: center;
    li {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #c9c9c9;
      &:nth-child(4) {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}

#main-logo {
  margin: 40px auto;
  display: block;
  width: 118px;
  height: 194px;
}

.page-divider {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 80px;
  padding-top: 38px;
  .arrow-left {
    position: absolute;
    left: 0;
    top: 30px;
  }
  .arrow-right {
    position: absolute;
    right: 0;
    top: 30px;
  }
  .crest {
    margin: 0 auto;
    background-color: #EEEAE2;
    width: 120px;
    height: 80px;
    z-index: 4;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
  }
  .line {
    position: absolute;
    border-top: 2px solid #979797;
    width: 100%;
    top: 38px;
    z-index: 2;
  }
}
.activity-containers {
  .img-container {
    width: 100%;
    height: calc(30px + 40vw);
    display: flex;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  h2 {
    padding: 15px 0;
    text-align: center;
  }
  p {
    padding: 0 0 15px 20px;
    font-size: 20px;
  }
  .pItalic {
    font-style: italic;
  }
}










* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
